body {
  background-color:#ffffff;
}

.outline {
  display: block;
  position: relative;
  border: 1px solid #4CAF50;
}

h1 {
  font-size: 20px;
  text-align: center;
  color: #6b6b6b;
  font-family: Phosphate;
}

p1 {
  font-size: 15px;
  text-align: left;
  color: #23354d;
  font-family: Silom;
}

p2 {
  font-size: 15px;
  text-align: left;
  color: #23354d;
  font-family: Silom;
}

#doneButton {
  font-size: 15px;
  color: #48833f;
  font-family: Ayuthaya;
  padding: 10px 24px;
  border: 1px solid #4CAF50;
  cursor: pointer;
}

#doneButton:hover {
  background-color: #4CAF50; /* Green */
  color: white;
}

