body {
  background-color: #ffffff;
}

.outline {
  display: block; 
  position: relative;
  border: 2px solid #4CAF50;
  color: #23354d;
  font-family: Didot, serif;

}

h1 {
  font-size: 30px;
  text-align: center;
  color: #6b6b6b;
  font-family: Didot, serif;
}

.text {
  text-align: center;
  color: #23354d;
  font-family: Didot, serif;
}

#doneButton {
  font-size: 15px;
  color: #48833f;
  font-family: Didot, serif;
  padding: 10px 24px;
  border: 1px solid #4CAF50;
  cursor: pointer;
}

#doneButton:hover {
  background-color: #4CAF50; 
  color: white;
}

#surveyElement{
  font-size: 15px;
  text-align: left;  
  font-family: Didot, serif;
  color: #23354d;
}

.sv_qstn .sq-root {
    font-size: 13px;
    border: 1px solid gray;
    border-left: 4px solid #18a689;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 30px;
    text-align: center;
    position: relative;

}
.sq-title{
  font-size: 17px;
}
.sq-item{
  margin: 20px 10px 20px 20px;
}

