body {
  background-color: #ffffff;
}

.outline {
  display: block; 
  position: relative;
  border: 2px solid #4CAF50;
  color: #23354d;
  font-family: Didot, serif;

}

h1 {
  font-size: 30px;
  text-align: center;
  color: #6b6b6b;
  font-family: Didot, serif;
}

p1 {
  text-align: center;
  color: #23354d;
  font-family: Didot, serif;
}

#doneButton {
  font-size: 15px;
  color: #48833f;
  font-family: Didot, serif;
  padding: 10px 24px;
  border: 1px solid #4CAF50;
  cursor: pointer;
}

#doneButton:hover {
  background-color: #4CAF50; 
  color: white;
}
