<!-- views/partials/footer.ejs -->
<head>
<link href="https://fonts.googleapis.com/css?family=Indie+Flower&display=swap" rel="stylesheet">
</head>
<p class="text-footer">
  Made by students of the University of Mannheim
  <br>
  Meike Selbach, Anina Jauris, and Anastasiia Kurdydyk
</p>
