<!-- navbar is a part of bootstrap-->
<!-- views/partials/header.ejs -->
<head>
<link href="https://fonts.googleapis.com/css?family=Indie+Flower&display=swap" rel="stylesheet">
</head>
<div class="container-header">
<nav class="navbar navbar-light bg-light" role="navigation">
  <a class="navbar-brand">
    <span>
      <img rel="images" src="https://image.flaticon.com/icons/png/512/1735/1735580.png" width="30" height="40" class="d-inline-block align-top" alt="shoppingCart">
    </span>
    Shop with Us
  </a>
</div>
</nav>
