<!-- navbar is a part of bootstrap-->
<!-- views/partials/header.ejs -->
<!--head>
  <script src= "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js"</script>
  </head-->
    <nav class="navbar navbar-light bg-light" role="navigation">
      <div class="container-header" style="padding-top:50px;">
        <div class="navbar-header">
          <a class="navbar-brand" style="color:#004475;">
            <span>
            <img rel="images" src="https://image.flaticon.com/icons/png/512/1735/1735580.png" width="30" height="30" class="d-inline-block align-top" alt="shoppingCart">
            </span>
            Shop with Us
          </a>
        </div>
      </div>
    </nav>
