<!DOCTYPE html>
<html>
  <head>
    <title>INSTRUCTIONS</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
  </head>
  <body style="margin: auto;">
    <header>
      <% include ./header %>
    </header>
    <div class="container-fluid" style="height:200px; width:700px;">
      <h1>Welcome!</h1>
      <br>
        <p>
          Today you will be participating in ....
          You will become a customer in a online store, where you suppose to choose your purchase and method of its delivery.
          You will be given a choice of 4 categories of goods with N-objects in each. In the next step you will be asked to choose a preffered method of delivery.
          Easy, isn't it?
        </p>
      </div>
        <br>
        <div class="container-fluid" style="height:200px; width:700px;">
        <p class="text-muted">
          If you understood the instructions correctly, press the "DONE" button to proceed.
        </p>
        <br>
        <button id="completeButton"  onclick="location.href ='http://localhost:8080/survey'" class ="btn-success">Complete</button>
      </div>
    <footer>
      <% include ./footer %>
    </footer>
  </body>
  </html>
