<!DOCTYPE html>
<html>
  <head>
    <title>INSTRUCTIONS</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
  </head>
  <body style="margin: auto;">
    <header>
      <% include ./header %>
    </header>
    <div class="container-fluid" style="height:200px; width:700px;">
      <h1>Welcome!</h1>
      <br>
        <p>
          Today you will be participating in a fictious online purchase scenario.
          You will become a customer in an online store, where you suppose to choose your product and method of its delivery.
          You will be given a choice of 4 categories of goods with 6 objects in each category. In the next step you will be asked to choose a prefered method of delivery. Easy, isn't it?
          <br>
           </p>
          At the end of your fictious purchase you will have the chance to win a voucher that allows you to shop in a local store or online. Overall, the ... takes about 3-4 minutes.
          </p>
          <br>
         </p>
         <br>
         <p class = "text-muted">
           If you understood the instructions correctly, press the "COMPLETE" button to proceed.
        </p>
        <br>
        <button id="completeButton"  onclick="location.href ='http://localhost:8080/survey'" class ="btn-success">Complete</button>
      </div>
    <!--footer>
      <% include ./footer %>
    <--/footer>
  </body>
  </html>
