<!DOCTYPE html>
<html>
<head>
  <title>INSTRUCTIONS</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="/stylesheets/style.css"/>
  <!--download of Jquery library - ajax-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body style="margin: auto;">
  <div class="container-fluid">
    <h1>Welcome!</h1>
    <br>
    <p>
      Today you will become a customer in the online store - Shop with Us.
      <br>
      During the next 10-15 minutes, you will be asked to provide some
      information about yourself and make your <i>fictious</i> purchase.
      You will be given a choice of four categories of goods with six objects in each category.
      In the next step you will be asked to choose a prefered method of delivery.
      <br>
      After completing all the steps you will have the chance to win
      a <i>real</i> voucher that allows you to shop in a local store or online.
    </p>
  </div>
  <br>
  <div class = "text-muted">
    <p>If you understood the instructions,
      press the Complete button below to proceed.
    </p>
    <br>
    <button onclick="location.href ='http://localhost:8080/survey'" class="btn-complete1">Complete</button>
  </div>
  <br>
  <footer><% include ./footer%></footer>
</body>
</html>
