<!DOCTYPE html>
<html>

<head>
  <title>INSTRUCTIONS</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <!--download of Jquery library - ajax-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<body style="margin: auto;">
  <div class="container-fluid">
    <h1 style="text-align:center">Welcome!</h1>
    <br>
    <p>
      Today you will become a customer in the online store <a>Shop with Us</a>.
      <br>
      During the next 10 minutes, you will be asked to provide some
      information about yourself and make your <i>fictious</i> purchase.
      You will be given a choice of four categories of goods with six products in each category.
      Out of those, you will decide which one you would be most likely buy in real life.
      After choosing your prefered product you consulde with choosing your delivery option and answering a few final questions.
      Please be aware that you do not actually purchase any product here.
      It is a completely fictious scenario. However, after completing all the steps you will have the chance to win
      a <i>real</i> voucher that allows you to shop in a local store or online.
    </p>
    <br>
    <p>
      <b>IMPORTANT:</b> All gathered information is anonymous.
      It will be stored and processed in a aggregated format.
      <br>
      <i> Although, to take part in the voluntery lottery you would be asked
        provide your personal information (namely, full name and email adress).</i>
    </p>
  </div>
  <br>
  <br>
  <div class="text-muted">
    <p>
      If you understood the instructions, press the Complete below to proceed.
    </p>
    <button onclick="location.href ='http://localhost:8080/survey'" class="btn-complete">Complete</button>
  </div>
  <br>
  <footer><% include ./footer%></footer>
</body>

</html>
