<!DOCTYPE html>
<html>
<head>
  <title>INSTRUCTIONS</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="/stylesheets/style.css"/>
  <!--download of Jquery library - ajax-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body style="margin: auto;">
  <div class="container-fluid">
    <h1>Welcome!</h1>
    <br>
      <p>
      Thank you for your participation!
        <br>
        Today you will become a customer in the online store <a>Shop with Us</a>.
        <br>
        During the next 10 minutes, you will be asked to provide some
        information about yourself and make your <i>fictious</i> purchase.
        You will be given a choice of four categories of goods with six products in each category. Out of those, you will decide which one you would be most likely buy in real life.
        After choosing your prefered product you consulde with choosing your delivery option and answering a few final questions.
        <br>
        Please be aware that you do not actually purchase any product here. It is a completely fictious szenario.
      <br>
      However, after completing all the steps you will have the chance to win
      a <i>real</i> voucher that allows you to shop in a local store or online.
    </p>
  </div>
  <br>
  <br>
  <div class = "text-muted">
    <p>If you understood the instructions,
      press the Complete button below to proceed.
    </p>
    <button onclick="location.href ='http://localhost:8080/survey'" class="btn-complete">Complete</button>
  </div>
  <br>
  <footer><% include ./footer%></footer>
</body>
</html>
