<!DOCTYPE html>
<html lang = "en-US">
<head>
  <title>SURVEY</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/stylesheets/style.css"/>
  <script src="https://unpkg.com/jquery"></script>
  <script src="https://surveyjs.azureedge.net/1.1.25/survey.jquery.js"></script>
  <link href="https://surveyjs.azureedge.net/1.1.25/survey.css" type="text/css" rel="stylesheet"/>
</head>
<body style="margin: auto;">
  <header><% include ./header %></header>
  <br>
  <br>
  <br>
  <p>Before we start, we would like to know more about you. Your answers would contribute to the upcoming marketing strategy of our company.
  </p>
  <div id="surveyContainer"></div>
  <script type="text/javascript" src="/javascripts/preferenceSurvey.js"></script>
  <br>
  <br>
  <br>
  <br>
  <div class="progress">
    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%"></div>
  </div>
  <footer><% include ./footer %></footer>
</body>
</html>
