<!DOCTYPE html>
<html lang = "en-US">
<head>
  <title>SURVEY</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/stylesheets/style.css"/>
    <script src="https://unpkg.com/jquery"></script>
    <script src="https://surveyjs.azureedge.net/1.1.25/survey.jquery.js"></script>
    <link href="https://surveyjs.azureedge.net/1.1.25/survey.css" type="text/css" rel="stylesheet"/>
   
   
  </head>
  <body style="margin: auto;">
    <header><% include ./header %></header>
    <br>
    <br>
    <div id="surveyContainer"></div>
    <script type="text/javascript" src="/javascripts/preferenceSurvey.js"></script>
   
   
    <footer>
      <% include ./footer %>
    </footer>
  </body>
  </html>
