<!DOCTYPE html>
<html lang = "en-US">
<head>
  <title>SURVEY</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"/>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body style="margin: auto;">
    <header><% include ./header %></header>
    <button class = 'doneButton' onclick="location.href = 'http://localhost:8080/selectcategory'"></button>

  </body>
  </html>
