<!DOCTYPE html>
<html lang = "en-US">
<head>
  <title>SELECT PRODUCT</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
  </head>
  <body style="margin: auto;">
    <header><% include ./header %></header>
    <h2>Choose your favourite procuct</h2>
    <br>
    <p>
      Please choose one of the following products that you would most likely also buy in real life.
      <br>
      Once you decided for one, please click on "buy".
      <br>
      Again, don't worry, this is a fictious szenario, so you're not purchasing any product.
      <br>
    </p>

      <!-- Add 6 images in cards that contain a text and an additional button each-->
   <div class="row-prod">
     <div class="column-prod">
       <div class="card-prod">
         <div class="container-prod">
           <img class="img" id="Soap" src="images/Soap.jpg" alt="Soap">
           <div class="container-prod">
         <h2>Soap "Zenobia"</h2>
         <p class="title-prod">Cosmetics Prod. Inc.</p>
         <p>2,99€</p>
         <button class="btn-choose" onclick="location.href ='http://localhost:8080/processing'">Buy</button>
        </div>
      </div>
    </div>
    </div>

    <div class="column-prod">
      <div class="card-prod">
        <div class="container-prod">
         <img class="img" id="Soap_eco" src="images/Soap_eco.jpg" alt="Soap_eco">
         <div class="container-prod">
         <h2>Soap "Penobya"</h2>
         <p class="title-prod">Green Planet Prod. Inc.</p>
         <p>2,99€</p>
         <button class="btn-choose" onclick="location.href ='http://localhost:8080/processing'">Buy</button>
       </div>
     </div>
   </div>
   </div>

   <div class="column-prod">
     <div class="card-prod">
       <div class="container-prod">
         <img class="img" id="Shampoo" src="images/Shampoo.jpg" alt="Shampoo">
         <div class="container-prod">
         <h2>Shampoo "Kate"</h2>
         <p class="title-prod">Cosmetics Prod. Inc.</p>
         <p>4,99€</p>
         <button class="btn-choose" onclick="location.href ='http://localhost:8080/processing'">Buy</button>
       </div>
     </div>
   </div>
   </div>
 </div>

 <div class="row-prod">
   <div class="column-prod">
     <div class="card-prod">
       <div class="container-prod">
         <img class="img" id="Shampoo_eco" src="images/Shampoo_eco.jpg" alt="Shampoo_eco">
         <div class="container-prod">
         <h2>Shampoo "Kelly"</h2>
         <p class="title-prod">Green Planet Prod. Inc.</p>
         <p>4,99€</p>
         <button class="btn-choose" onclick="location.href ='http://localhost:8080/processing'">Buy</button>
       </div>
     </div>
   </div>
   </div>

   <div class="column-prod">
     <div class="card-prod">
       <div class="container-prod">
         <img class="img" id="Blackroll" src="images/Blackroll.jpg" alt="Blackroll">
         <div class="container-prod">
         <h2>Blackroll "Recoverator"</h2>
         <p class="title-prod">Cosmetics Prod. Inc.</p>
         <p>17,99€</p>
         <button class="btn-choose" onclick="location.href ='http://localhost:8080/processing'">Buy</button>
       </div>
     </div>
   </div>
   </div>

   <div class="column-prod">
     <div class="card-prod">
       <div class="container-prod">
         <img class="img" id="Blackroll_eco" src="images/Blackroll_eco.jpg" alt="Blackroll_eco">
         <div class="container-prod">
         <h2>Blackroll "Faszienator"</h2>
         <p class="title-prod">Green Planet Prod. Inc.</p>
         <p>17,99€</p>
         <button class="btn-choose" onclick="location.href ='http://localhost:8080/processing'">Buy</button>
       </div>
     </div>
   </div>
 </div>
</div>
<br>
<br>
<div class="progress">
  <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%"></div>
</div>
 <footer><% include ./footer%></footer>
</body>
</html>
