<!DOCTYPE html>
<html lang = "en-US">
<head>
  <title>DELIVERY</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="/stylesheets/style.css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body style="margin: auto;">
  <header><% include ./header %></header>
  <div>
    <h2>Thank you for your choice!</h2>
    <p>
      Now select a preferred delivery method.
    </p>
    <br>
    <button id = '1day' onclick="location.href = 'http://localhost:8080/survey'" class ="btn-success">1-day delivery</button>
    <p>
      Your product will arrive withing 24 hours.
    </p>
    <button id = '7days' onclick="location.href = 'http://localhost:8080/survey'" class ="btn-success">7-day delivery</button>
    <p>
      Your product will arrive withing 7 days.
    </p>
    <div class="container-del">
      <img class="img" id="Treatment" src="">
    </div>
    <!--Randomization part-->
    <script>
    $.ajax({
      url: 'http://localhost:8080/id'
    }).done(function (receiveUserId){
      console.log(receiveUserId);
      var id = receiveUserId.id
      if (id%3 == 2) {
        document.getElementById("Treatment").src = "images/Social_infl.png"
      } else if (id%3 == 0) {
        document.getElementById("Treatment").src = "https://i.imgur.com/YKEDNMu.png"
      }
    });
    /*
    This would be an alternative for randomization.
    Using this code we wouldn't need ajax and the generated UserID anymore.
    The only "issue" with this version is, that we can't guarantee for 3 equally sized groups.

    var randomNr = Math.random()
    if (randomNr <= 0.33) {
    document.getElementById("OtherpplChoice").src = "https://www.sachaheck.net/blog/wp-content/uploads/2010/03/Grafik_Kuchenstueck.jpg"
  } else if (randomNr > 0.66) {
  document.getElementById("OtherpplChoice").src = "https://i.imgur.com/YKEDNMu.png"
}; */
</script>
</div>
<br>
<div class="progress">
  <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%"></div>
</div>
<br>
<footer>
  <% include ./footer %>
</footer>
</body>
</html>
