<!DOCTYPE html>
<html lang="en-US">

<head>
  <title>SELECT PRODUCT</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body style="margin: auto;">
  <header><% include ./header %></header>
  <h2>Please choose your preferred product.</h2>
  <p>
    Once you decided for one, click on "Buy".
    Again, don't worry, this is a fictitious purchase.
  </p>
  <br>
  <div class="row-prod">
    <div class="column-prod">
      <div class="card-prod">
        <div class="container-prod">
          <img class="img" id="Tshirt" src="images/Tshirt.jpg" alt="Tshirt">
          <div class="container-prod-text">
            <h3>Tshirt "Fruit"</h3>
            <p class="title-prod">Clothing Prod. Inc.</p>
            <p>15,99€</p>
            <button class="btn-choose" onclick="location.href ='http://localhost:8080/processing'">Buy</button>
          </div>
        </div>
      </div>
    </div>
    <div class="column-prod">
      <div class="card-prod">
        <div class="container-prod">
          <img class="img" id="Sunglasses" src="images/Sunglasses.jpg" alt="Sunglasses">
          <div class="container-prod-text">
            <h3>Sunglasses "WAC"</h3>
            <p class="title-prod">Clothing Prod. Inc.</p>
            <p>12,99€</p>
            <button class="btn-choose" onclick="location.href ='http://localhost:8080/processing'">Buy</button>
          </div>
        </div>
      </div>
    </div>
    <div class="column-prod">
      <div class="card-prod">
        <div class="container-prod">
          <img class="img" id="Hoodie_eco" src="images/Hoodie_eco.jpg" alt="Hoodie_eco">
          <div class="container-prod-text">
            <h3>Hoodie "Kate"</h3>
            <p class="title-prod">Green Planet Prod. Inc.</p>
            <p>35,99€</p>
            <button class="btn-choose" onclick="location.href ='http://localhost:8080/processing'">Buy</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row-prod">
    <div class="column-prod">
      <div class="card-prod">
        <div class="container-prod">
          <img class="img" id="Tshirt_eco" src="images/Tshirt_eco.jpg" alt="Tshirt_eco">
          <div class="container-prod-text">
            <h3>Tshirt "Rainbow"</h3>
            <p class="title-prod">Green Planet Prod. Inc.</p>
            <p>15,99€</p>
            <button class="btn-choose" onclick="location.href ='http://localhost:8080/processing'">Buy</button>
          </div>
        </div>
      </div>
    </div>
    <div class="column-prod">
      <div class="card-prod">
        <div class="container-prod">
          <img class="img" id="Hoodie" src="images/Hoodie.jpg" alt="Hoodie">
          <div class="container-prod-text">
            <h3>Hoodie "Kelly"</h3>
            <p class="title-prod">Hoodie Prod. Inc.</p>
            <p>35,99€</p>
            <button class="btn-choose" onclick="location.href ='http://localhost:8080/processing'">Buy</button>
          </div>
        </div>
      </div>
    </div>
    <div class="column-prod">
      <div class="card-prod">
        <div class="container-prod">
          <img class="img" id="Sunglasses_eco" src="images/Sunglasses_eco.jpg" alt="Sunglasses_eco">
          <div class="container-prod-text">
            <h3>Sunglasses "SOL"</h3>
            <p class="title-prod">Green Planet Prod. Inc.</p>
            <p>12,99€</p>
            <button class="btn-choose" onclick="location.href ='http://localhost:8080/processing'">Buy</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <div class="progress">
    <div class="progress-bar progress-bar-animated" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%"></div>
  </div>
  <footer><% include ./footer%></footer>
</body>

</html>
