<!DOCTYPE html>
<html lang = "en-US">
<head>
  <title>SELECT PRODUCT</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
  </head>
  <body style="margin: auto;">
    <header><% include ./header %></header>
    <h2>Choose your favourite procuct</h2>
    <br>
    <p>
      Please choose one of the following products that you would most likely also buy in real life.
      <br>
      Once you decided for one, please click on "buy".
      <br>
      Again, don't worry, this is a fictious szenario, so you're not purchasing any product.
      <br>
    </p>

    <!-- Add 6 images in cards that contain a text and an additional button each-->
   <div class="row-prod">
     <div class="column-prod">
       <div class="card-prod">
         <div class="container-prod">
           <img class="img" id="Phone" src="images/Phone.jpg" alt="Phone">
           <div class="container-prod">
         <h2>Phone "YI-560"</h2>
         <p class="title-prod">Electronic Prod. Inc.</p>
         <p>279,99€</p>
         <button class="btn-choose" onclick="location.href ='http://localhost:8080/processing'">Buy</button>
        </div>
      </div>
    </div>
  </div>


  <div class="column-prod">
    <div class="card-prod">
      <div class="container-prod">
         <img class="img" id="Phone_eco" src="images/Phone_eco.jpg" alt="Phone_eco">
         <div class="container-prod">
         <h2>Phone "ZI-560"</h2>
         <p class="title-prod">Green Planet Prod. Inc.</p>
         <p>279,99€</p>
         <button class="btn-choose" onclick="location.href ='http://localhost:8080/processing'">Buy</button>
       </div>
     </div>
   </div>
 </div>


 <div class="column-prod">
   <div class="card-prod">
     <div class="container-prod">
         <img class="img" id="Laptop" src="images/Laptop.jpg" alt="Laptop">
         <div class="container-prod">
         <h2>Laptop "Interior p9"</h2>
         <p class="title-prod">Electronic Prod. Inc.</p>
         <p>832,99€</p>
         <button class="btn-choose" onclick="location.href ='http://localhost:8080/processing'">Buy</button>
       </div>
     </div>
   </div>
 </div>
</div>

   <div class="row-prod">
     <div class="column-prod">
       <div class="card-prod">
         <div class="container-prod">
         <img class="img" id="Laptop_eco" src="images/Laptop_eco.jpg" alt="Laptop_eco">
         <div class="container-prod">
         <h2>Laptop "Inspire s9"</h2>
         <p class="title-prod">Green Planet Prod. Inc.</p>
         <p>832,99€</p>
         <button class="btn-choose" onclick="location.href ='http://localhost:8080/processing'">Buy</button>
       </div>
     </div>
   </div>
 </div>


 <div class="column-prod">
   <div class="card-prod">
     <div class="container-prod">
         <img class="img" id="Speaker" src="images/Speaker.jpg" alt="Speaker">
         <div class="container-prod">
         <h2>Speaker "Tube"</h2>
         <p class="title-prod">Electronics Prod. Inc.</p>
         <p>75,99€</p>
         <button class="btn-choose" onclick="location.href ='http://localhost:8080/processing'">Buy</button>
       </div>
     </div>
   </div>
 </div>


 <div class="column-prod">
   <div class="card-prod">
     <div class="container-prod">
         <img class="img" id="Speaker_eco" src="images/Speaker_eco.jpg" alt="Speaker_eco">
         <div class="container-prod">
         <h2>Speaker "Cane"</h2>
         <p class="title-prod">Green Planet Prod. Inc.</p>
         <p>75,99€</p>
         <button class="btn-choose" onclick="location.href ='http://localhost:8080/delivery'">Buy</button>
       </div>
     </div>
   </div>
 </div>
 </div>
 <br>
 <br>
 <div class="progress">
   <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%"></div>
 </div>
 <footer><% include ./footer%></footer>
</body>
</html>
