<!DOCTYPE html>
<html lang = "en-US">
<head>
  <title>DELIVERY</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="/stylesheets/style.css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body style="margin: auto;">
  <header><% include ./header %></header>
  <div class="container-del">
    <div class="container-del-info">
    <h2>Thank you for your purchase!</h2>
    <p>
      Please choose your preferred delivery option down below.
    </p>
    <br>
    <button id = '1day' class ="btn-choose" onclick="location.href = 'http://localhost:8080/surveyandfeedback'">Next-Day Delivery</button>
    <div class="text-muted">
    <p>
      Your product will arrive withing 24 hours.
    </p>
    <button id = '7days' class ="btn-choose" onclick="location.href = 'http://localhost:8080/surveyandfeedback'" >7-Day Group Delivery</button>
    <p>
      Your product will arrive withing 7 days.
    </p>
  </div>
  </div>
  <div class="container-del-choice">
    <h2>Meanwhile, did you know?</h2>
    <img class="img" id="Treatment" src="">

  <!--Randomization part-->
  <script>
    $.ajax({
      url: 'http://localhost:8080/id'
    }).done(function (receiveUserId){
      console.log(receiveUserId);

     /* $.ajax excesses the URl to see the local UserID
       .done will then call the callback function
    In here receiveUserId is a "placeholder" for ObjectId (in index.js file) */

      var id = receiveUserId.id
      if (id%3 == 2) {
        document.getElementById("Treatment").src = "images/Social_influence.jpg"
      } else if (id%3 == 0) {
        document.getElementById("Treatment").src = "images/Info_influence.jpg"
      }
    });

  /* In order to create 3 equally sized groups we used Modulo */

    /* ALTERNATIVE RANDOMIZATION:
    Using following code we wouldn't need ajax and the generated UserID anymore.
    The only "issue" with this version is, that we can't guarantee for 3 equally sized groups.

    var randomNr = Math.random()
    if (randomNr <= 0.33) {
    document.getElementById("OtherpplChoice").src = "https://www.sachaheck.net/blog/wp-content/uploads/2010/03/Grafik_Kuchenstueck.jpg"
    } else if (randomNr > 0.66) {
    document.getElementById("OtherpplChoice").src = "https://i.imgur.com/YKEDNMu.png"
    }; */

</script>
</div>
</div>
<br>
<br>
<div class="progress">
  <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%"></div>
</div>
<br>
<footer><% include ./footer %></footer>
</body>
</html>
