<!DOCTYPE html>
<html lang = "en-US">
<head>
  <title>SELECT PRODUCT</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
  </head>
  <body style="margin: auto;">
    <header><% include ./header %></header>
    <h2>Choose your procuct</h2>
    <br>
    <p>
      Please choose your favourite product of your chosen category.
      <br>
      Again, don't worry, this is a fictious szenario, so you're not purchasing some of the products.
      <br>
      Nonetheless, we would like you to choose something that you're most likely to buy.
    </p>
   <!-- Add 6 images in cards that contain a text and an additional button each-->
   <div class="row-prod">
     <div class="column-prod">
       <div class="card-prod">
         <div class="container-prod">
           <img class="img" id="Hoodie" src="images/Hoodie.jpg" alt="Hoodie">
       <div class="container-prod">
         <h2>Hoodie</h2>
         <p class="title-prod">Hoodie Prod. Inc.</p>
         <p>35,99€</p>
         <button class="btn-choose" onclick="location.href ='http://localhost:8080/delivery'">Buy</button>
        </div>
      </div>
    </div>
    </div>

     <div class="column-prod">
       <div class="card-prod">
         <div class="container-prod">
           <img class="img" id="Sunglasses" src="images/Sunglasses.jpg" alt="Sunglasses">
         <div class="container-prod">
           <h2>Sunglasses</h2>
           <p class="title-prod">Clothing Prod. Inc.</p>
           <p>12,99€</p>
           <button class="btn-choose" onclick="location.href ='http://localhost:8080/delivery'">Buy</button>
         </div>
       </div>
     </div>
   </div>

   <div class="column-prod">
     <div class="card-prod">
       <div class="container-prod">
         <img class="img" id="Hoodie_eco" src="images/Hoodie_eco.jpg" alt="Hoodie_eco">
       <div class="container-prod">
         <h2>Hoodie</h2>
         <p class="title-prod">Green Planet Prod. Inc.</p>
         <p>35,99€</p>
         <button class="btn-choose" onclick="location.href ='http://localhost:8080/delivery'">Buy</button>
       </div>
     </div>
   </div>
  </div>
  </div>

    <div class="row-prod">
      <div class="column-prod">
        <div class="card-prod">
          <div class="container-prod">
            <img class="img" id="Tshirt_eco" src="images/Tshirt_eco.jpg" alt="Tshirt_eco">
          <div class="container-prod">
            <h2>Tshirt</h2>
            <p class="title-prod">Green Planet Prod. Inc.</p>
            <p>15,99€</p>
            <button class="btn-choose" onclick="location.href ='http://localhost:8080/delivery'">Buy</button>
          </div>
        </div>
      </div>
    </div>

   <div class="column-prod">
     <div class="card-prod">
       <div class="container-prod">
         <img class="img" id="Tshirt" src="images/Tshirt.jpg" alt="Tshirt">
       <div class="container-prod">
         <h2>Tshirt</h2>
         <p class="title-prod">Clothing Prod. Inc.</p>
         <p>15,99€</p>
         <button class="btn-choose" onclick="location.href ='http://localhost:8080/delivery'">Buy</button>
       </div>
     </div>
   </div>
 </div>

 <div class="column-prod">
   <div class="card-prod">
      <div class="container-prod">
        <img class="img" id="Sunglasses_eco" src="images/Sunglasses_eco.jpg" alt="Sunglasses_eco">
       <div class="container-prod">
         <h2>Sunglasses</h2>
         <p class="title-prod">Green Planet Prod. Inc.</p>
         <p>12,99€</p>
         <button class="btn-choose" onclick="location.href ='http://localhost:8080/delivery'">Buy</button>
       </div>
     </div>
   </div>
 </div>
</div>
<br>
<br>
<div class="progress">
  <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%"></div>
</div>
 <footer><% include ./footer%></footer>
</body>
</html>
