<!DOCTYPE html>
<html lang = "en-US">
<head>
  <title>SELECT PRODUCT</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
  </head>
  <body style="margin: auto;">
    <header><% include ./header %></header>
    <h2>Choose your favourite procuct</h2>
    <br>
    <p>
      Please choose one of the following products that you would most likely also buy in real life.
      <br>
      Once you decided for one, please click on "buy".
      <br>
      Again, don't worry, this is a fictious szenario, so you're not purchasing any product.
      <br>
    </p>


    <!-- <script>

          /* We decided to redirect to one delivery page. An alternative (with a lot more code)
          would have been to redirect to 3 different delivery pages. Each one being different according to the treatment.
          (1page: without treatment; 2page: social influence treatment; 3page:informational influence treatment)
          */

          var randomNr = Math.random()

          /* math.random asigns a random number to the var randomNr between 0 and 1 */

          function directToTreatments() {
                       if (randomNr <= 0.33) {
                         window.location.href = 'http://localhost:8080/delivery';
                       } else if (randomNr > 0.66) {
                           window.location.href = 'http://localhost:8080/delivery/delivery_2';
                       } else {
                           window.location.href = 'http://localhost:8080/delivery/delivery_1';
                       }; }
                  </script>

          /* function directToTreatments redirects to differet pages based on the if-condition
          "   <button class="button" onclick="directToTreatments()">Choose</button>   "  */




   <!-- Add 6 images in cards that contain a text and an additional button each-->
   <div class="row-prod">
     <div class="column-prod">
       <div class="card-prod">
         <div class="container-prod">
           <img class="img" id="Hoodie" src="images/Hoodie.jpg" alt="Hoodie">
       <div class="container-prod">
         <h2>Hoodie "Kelly"</h2>
         <p class="title-prod">Hoodie Prod. Inc.</p>
         <p>35,99€</p>
         <button class="btn-choose" onclick="location.href ='http://localhost:8080/processing'">Buy</button>
        </div>
      </div>
    </div>
    </div>

     <div class="column-prod">
       <div class="card-prod">
         <div class="container-prod">
           <img class="img" id="Sunglasses" src="images/Sunglasses.jpg" alt="Sunglasses">
         <div class="container-prod">
           <h2>Sunglasses "WAC"</h2>
           <p class="title-prod">Clothing Prod. Inc.</p>
           <p>12,99€</p>
           <button class="btn-choose" onclick="location.href ='http://localhost:8080/processing'">Buy</button>
         </div>
       </div>
     </div>
   </div>

   <div class="column-prod">
     <div class="card-prod">
       <div class="container-prod">
         <img class="img" id="Hoodie_eco" src="images/Hoodie_eco.jpg" alt="Hoodie_eco">
       <div class="container-prod">
         <h2>Hoodie "Kate"</h2>
         <p class="title-prod">Green Planet Prod. Inc.</p>
         <p>35,99€</p>
         <button class="btn-choose" onclick="location.href ='http://localhost:8080/processing'">Buy</button>
       </div>
     </div>
   </div>
  </div>
  </div>

    <div class="row-prod">
      <div class="column-prod">
        <div class="card-prod">
          <div class="container-prod">
            <img class="img" id="Tshirt_eco" src="images/Tshirt_eco.jpg" alt="Tshirt_eco">
          <div class="container-prod">
            <h2>Tshirt "Rainbow"</h2>
            <p class="title-prod">Green Planet Prod. Inc.</p>
            <p>15,99€</p>
            <button class="btn-choose" onclick="location.href ='http://localhost:8080/processing'">Buy</button>
          </div>
        </div>
      </div>
    </div>

   <div class="column-prod">
     <div class="card-prod">
       <div class="container-prod">
         <img class="img" id="Tshirt" src="images/Tshirt.jpg" alt="Tshirt">
       <div class="container-prod">
         <h2>Tshirt "Fruit"</h2>
         <p class="title-prod">Clothing Prod. Inc.</p>
         <p>15,99€</p>
         <button class="btn-choose" onclick="location.href ='http://localhost:8080/processing'">Buy</button>
       </div>
     </div>
   </div>
 </div>

 <div class="column-prod">
   <div class="card-prod">
      <div class="container-prod">
        <img class="img" id="Sunglasses_eco" src="images/Sunglasses_eco.jpg" alt="Sunglasses_eco">
       <div class="container-prod">
         <h2>Sunglasses "SOL"</h2>
         <p class="title-prod">Green Planet Prod. Inc.</p>
         <p>12,99€</p>
         <button class="btn-choose" onclick="location.href ='http://localhost:8080/processing'">Buy</button>
       </div>
     </div>
   </div>
 </div>
</div>
<br>
<br>
<div class="progress">
  <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%"></div>
</div>
 <footer><% include ./footer%></footer>
</body>
</html>
