<!DOCTYPE html>
<html lang = "en-US">
<head>
  <title>SELECT PRODUCT</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
  </head>
  <body style="margin: auto;">
    <header><% include ./header %></header>
    <br>
        <h2>Choose your procuct</h2>
        <br>
        <p>
          Please choose your favourite product of your chosen category.
          <br>
          Again, don't worry, this is a fictious szenario, so you're not purchasing some of the products.
          <br>
          Nonetheless, we would like you to choose something that you're most likely to buy.
        </p>
          <br>
          <br>

  <!-- Add 6 images in cards that contain a text and an additional button each-->
   <div class="row-prod">
     <div class="column-prod">
       <div class="card-prod">
         <div class="container-prod">
           <img class="img" id="Basket-table" src="images/Basket.jpg" alt="Basket-table">
           <div class="container-prod">
         <h2>Basket-table</h2>
         <p class="title-prod">Home Prod. Inc.</p>
         <p>25,99€</p>
         <button class="button" onclick="location.href ='http://localhost:8080/delivery'">Choose</button>
        </div>
      </div>
    </div>
  </div>


  <div class="column-prod">
    <div class="card-prod">
      <div class="container-prod">
         <img class="img" id="Basket-table_eco" src="images/Basket_eco.jpg" alt="Basket-table_eco">
         <div class="container-prod">
         <h2>Basket-table</h2>
         <p class="title-prod">Environmental Prod. Inc.</p>
         <p>25,99€</p>
         <button class="button" onclick="location.href ='http://localhost:8080/delivery'">Choose</button>
       </div>
     </div>
   </div>
 </div>


 <div class="column-prod">
   <div class="card-prod">
     <div class="container-prod">
         <img class="img" id="Cutlery" src="images/Cutlery.jpg" alt="Cutlery">
         <div class="container-prod">
         <h2>Cutlery</h2>
         <p class="title-prod">Sunglasses Prod. Inc.</p>
         <p>42,99€</p>
         <button class="button" onclick="location.href ='http://localhost:8080/delivery'">Choose</button>
       </div>
     </div>
   </div>
 </div>
</div>


   <div class="row-prod">
     <div class="column-prod">
       <div class="card-prod">
         <div class="container-prod">
         <img class="img" id="Cutlery_eco" src="images/Cutlery_eco.jpg" alt="Cutlery_eco">
         <div class="container-prod">
         <h2>Cutlery</h2>
         <p class="title-prod">Environmental Prod. Inc.</p>
         <p>42,99€</p>
         <button class="button" onclick="location.href ='http://localhost:8080/delivery'">Choose</button>
       </div>
     </div>
   </div>
 </div>


 <div class="column-prod">
   <div class="card-prod">
     <div class="container-prod">
         <img class="img" id="Waterbottle" src="images/Bottle.jpg" alt="Waterbottle">
         <div class="container-prod">
         <h2>Waterbottle</h2>
         <p class="title-prod">Tshirt Prod. Inc.</p>
         <p>9,99€</p>
         <button class="button" onclick="location.href ='http://localhost:8080/delivery'">Choose</button>
       </div>
     </div>
   </div>
 </div>

 <div class="column-prod">
   <div class="card-prod">
     <div class="container-prod">
         <img class="img" id="Waterbottle_eco" src="images/Bottle_eco.jpg" alt="Waterbottle_eco">
         <div class="container-prod">
         <h2>Waterbottle</h2>
         <p class="title-prod">Environmental Prod. Inc.</p>
         <p>9,99€</p>
         <button class="button" onclick="location.href ='http://localhost:8080/delivery'">Choose</button>
       </div>
     </div>
   </div>
 </div>
</div>

 <footer><% include ./footer%></footer>
</body>
</html>
