<!DOCTYPE html>
<html>
<head>
  <title>FINAL SURVEY</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="/stylesheets/style.css"/>
</head>
<body style="margin: auto;">
  <header><% include ./header %></header>
  <div class="container-fluid">
    <h1>Finally, we have a few questions about you</h1>
    <br>
    <br>
    <br>
    <p class = "text-muted">
      Please press the "DONE" button to submit your information and to finish the fictious online purchase process.
    </p>
    <br>
  </div>
  <div>
    <button id = "doneButton"  onclick="location.href ='http://localhost:8080/thankyou'" class ="btn-success"></button>
  </div>
</body>
</html>
