<!DOCTYPE html>
<html>
<head>
  <title>THANK YOU</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="/stylesheets/style.css"/>
</head>
<body style="margin: auto;">
  <header><% include ./header %></header>
  <div class="container-fluid" style="height:200px; width:700px;">
    <h1>THANK YOU!</h1>
    <br>
    <p>Thank you for participating in our fictious online purchase scenario!</p>
    <p>Your answers have been recorded and we will contact you regarding the lottery.</p>
    <br>
    <br>
    <p>In case of any further questions, please reach out to:XYZ</p>
    <br>
  </div>
  <br>
  <br>
  <br>
  <footer>
    <% include ./footer %>
  </footer>
</body>
</html>
