/*Define color palette*/
$bgcolor: transparent
$color_main: #004475
$color_btn: #004475
//$color_2:
//$color_3:

/*Define color palette*/
$font_header: 'Indie Flower'
$font_main: 'Open Sans'
//$font_extrainfo:


body
  background-color: $bgcolor
  padding: 50px
  font-family: $font_main
  font-size: large
  color: $color_main
  text-align: center

h2
  font-family: $font_main
  font-size: x-large

.progress
  display: inherit

/*INDEX/INSTRUCTION*/

.container-fluid
  position: sticky
  line-height: 1.8
  margin: 1px

h1
  font-family: $font_main
  font-size: xxx-large

a
  font-family: $font_header
  font-size: x-large
  color: $color_main

.text-muted
  font-family: $font_main
  font-size: medium
  padding: inherit

.btn-complete1
    font-family: $font_main
    position: relative
    height: 50px
    width: 50%
    background: #e2e6e9
    margin: 20px
    border: 0px
    color: $color_btn
    box-shadow: 0 0 1px #ccc
    -webkit-transition-duration: 0.7s
    -webkit-transition-timing-function: linear
    box-shadow: 0px 0 0 $color_btn inset

.btn-complete1:hover
    box-shadow: 100px 0  0 100px $color_btn inset

/*PRODUCT CATEGORY CHOICE*/

.container-cat
  padding: 10px 10px 10px 10px
  position: relative

.row-cat
  padding-bottom: 10px
  position: inherit
  display: inline-flex

// Make the image responsive
.container-cat img
   width: 250px
   height: 250px
   position: relative

// Style the button and place it in the middle of the container/image
.container-cat .choose-button
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    -ms-transform: translate(-50%, -50%)
    background-color: $color_btn
    color: white
    font-size: 16px
    padding: 12px 24px
    border: none
    cursor: pointer
    border-radius: 5px
    opacity: 0.6
    transition: 0.2s

.container-cat .choose-button:hover
    background-color: #ffb910
    opacity: 1


/*PRODUCT CHOICE*/

.column-prod
  float: left
  width: 20%
  margin-bottom: 16px
  padding: 0 8px

// Responsive layout - makes the two columns stack on top of each other instead of next to each other
@media screen and (max-width: 600px)
  .column
    width: 100%

// Add some shadows to create a card effect
.card-prod
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2)

// Some left and right padding inside the container
.container-prod
  padding: 0 16px
  position: relative

  &::after
    content: ""
    clear: both
    display: table

// Clear floats
.row-prod::after
  content: ""
  clear: both
  display: table

.title-prod
  color: grey

// Make the image responsive
.container-prod img
    width: 200px
    height: 200px
    position: relative

/*DELIVERY CHOICE*/

.container-del
  padding: 20px 10px 0px 10px
  position: relative

.container-del img
  width: 20%
  height: 20%
  position: relative

/*FEEDBACK*/

.container-feedback
  display: inherit
  position: relative


/*HEADER*/

.navbar-brand
  color: $color_main
  font-family: $font_header
  font-size: 36px


/*FOOTER*/

.text-footer
  font-family: $font-header
  font-size: 13px
  padding: inherit
